/*barre de menu */
#menu nav{
    width: 100%;
    margin: auto;
    position: fixed;
}
#menu nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

#menu nav ul li img{
    width: 50%;
    margin-top:20%;
}

#lienmenu{
    margin-top:3%;
    text-transform: uppercase;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

#lienmenu a{
    color: white;
}

#lienmenu a:hover {
    text-decoration: none;
    color: black;
}
/* mise en place du background image */
.jumbotron{
    background-image: url(/Assets/Images/image\ ours.jpg);
    background-size: cover;
    height: 100vh;
}

/*Design du texte jumbotron */
#titreheader{
    font-size: 150px;
    color: white;
}

#pheader{
    font-size: 50px;
    color: white;
}

/*position du texte jumbotron */
.textjumbo{
    position: relative;
    left: 60%;
    top: 50%;
}

/* texte sous jumbo */
article h2{
    font-size: 50px;
    text-align: center;
}

article p{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    margin: auto;
    padding-bottom: 2%;
    padding-top: 2%;
}

article hr{
    width: 5%;
    margin: auto;
    border: solid 2px black;
}
