/*barre de menu */
#menu nav{
    width: 100%;
    margin: auto;
    position: fixed;
    transition: 500ms ease;
    background: transparent;
    top:0;
}

#menu nav.scrolled{
    background: rgba(0, 0, 0, 0.295);
}

/*mise en place du menu caché */
#navbarcache{
    background-color: black;
    width: 8%;
    text-align: center;
    position: relative;
    left: 85.2%;
}

a.nav-link{
    color: white;
}
#menu nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 1%;
}

#menu nav ul li img{
    width: 50%;
    margin-top:5%;
}

.lienmenu{
    margin-top: 0.5%;
    text-transform: uppercase;
    margin-right: 3%;

}
/* bordure after before du lien menu */
.lienmenu::before{
    content:"";
    display: block;
    border-top: 5px solid white;
}

.lienmenu::after{
    content:"";
    display: block;
    border-bottom: 5px solid white;
}

.lienmenu a{
    color: white;
}

.lienmenu a:hover {
    text-decoration: none;
    color: black;
}
/* mise en place du background image */
.jumbotron{
    background-image: url(/Assets/Images/image\ ours.jpg);
    background-size: cover;
    height: 100vh;
}

/*Design du texte jumbotron */
#titreheader{
    font-size: 150px;
    color: white;
}

#pheader{
    font-size: 50px;
    color: white;
}

/*position du texte jumbotron */
.textjumbo{
    position: relative;
    left: 60%;
    top: 50%;
}

/* texte sous jumbo */
article h2{
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
}

article p{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    margin: auto;
    padding-bottom: 2%;
    padding-top: 2%;
}

article hr{
    width: 5%;
    margin: auto;
    border: solid 2px black;
}
/* mise en place de la row audrey */

.section3{
    background-color: rgb(248, 219, 219);
}

.col-sm p{
    margin-left: 15%;
    margin-top: 30%;
    font-size: 30px;
    width: 50%;
}

/* after colonne p */

.col-sm p::after{
    content: 'Audrey Hepburn';
    display: block;
    font-size: 20px;
    color: rgb(133, 127, 127);
    margin-top: 20%;
    text-transform: uppercase;
}

/* titre section 4*/
#section4 h3{
    font-size: 50px;
    margin-left: 6%;
    margin-top: 5%;
}

#section4:after{
    content: " ";
    display: block;
    height: 5px;
    width: 5%;
    background-color: black;
    margin-left: 6%;
}

/* section 5 */
#section5{
    padding-top: 5%;
    width: 86.5%;
    margin: auto;
}

/*mise en place du texte de la section */
.col-sm h4{
    margin-left: 15%;
    margin-top: 5%;
}

.col-sm .texttableau {
    font-size: 20px;
    text-align: left;
    margin-top: 2%;
    width: 80%;
}

/* after section 5 p */
.col-sm .texttableau::after{
    content: 'Anonymous';
    display: block;
    font-size: 20px;
    font-style: italic;
    color: rgb(133, 127, 127);
    margin-top: 5%;
    text-transform: none;
}

/*effet de hover sur grille */
#section5 .col-sm:hover{
    background-color: black;
    color: white;
}

#section5 .col-sm:hover .texttableau::after{
    color: white;
}
/*aggrandissement du bouton section5 */
.btn.btn-outline-dark{
    width: 15%;
    text-transform: uppercase;
    margin-left: 43%;
    margin-top: 2%;
}